body{
 font-family: 'Poppins', sans-serif;
 font-size: 16px;
}
.header{
 color: orange;
}
.header-2{
   font-size: 40px;
}
.flexible-container{
 display: flex;
}
.width{
 width: 50%;
 padding-left: 10%;
}
.width img{
 width: 65%;
}
.first-part{
  margin-top: 110px;
margin-left: 20px;
}
.link-button{
 background-color: tomato;
 padding: 10px 30px;
 text-decoration:none;
 border-radius: 5px;
}
.border-slice{
  border-left: 4px solid;
  border-image: linear-gradient(orange,tomato);
  border-image-slice: 1;
 padding-left: 15px;
}
.second-header{
  text-align: center;
  font-size: 30px;
 
}
#illustrators{
  width: 40%;
 
}
.box-shadow{
  box-shadow: 10px 10px 40px gray;
  margin-left: 19px;
  margin-right: 21px;
  padding-left: 15px;
  padding-right: 18px;
}
.mission-three{
  margin-left: 80px;
  margin-right: 70px;
}
.background-color-1{
  background-color: lightcyan;
}
.background-color-2{
  background-color: pink;
}
.background-color-3{
  background-color: tan;
}
.second-image img{
  width: 100%;
}
.second-image{
  margin-top: 200px;

}

.documentation{
  margin-left: 200px;
}
.documentation-2{
  margin-right: 200px;
  margin-top: 200px;
}
.docu-2-image img{
 width: 150%;
 margin-left: 220px;

}
.doc-1-image img{
  width: 150%;

}